body{
    background-image: url("image/tetlk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    width: 305px;
    height: 47px;
    margin-left: 390px;
    font-family: "Architects Daughter";
    text-decoration: underline;
}

.nav>a{
    width: 500px;
    height: 20px;
    margin-left: 218px;
    display: inline;
    justify-content: space-evenly;
    font-size: 22px;

    
    

}
