body{
    background-image: url("image/tetlk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    width: 305px;
    height: 47px;
    margin-left: 390px;
    font-family: "Architects Daughter";
    text-decoration: underline;
}

.nav>a{
    width: 500px;
    height: 20px;
    margin-left: 218px;
    display: inline;
    justify-content: space-evenly;
    font-size: 22px;
}
.boxone{
    border: 1px solid green;
    width: 604px;
    float: right;
    margin-top: 15px;
    background: rgba(94, 210, 210, 0.2);
    
}
h3{
    margin-left: 15px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
}
.boxtwo{
    border: 1px solid green;
    width: 415px;
    height: 643px;
    margin-top: 15px;
    background: rgba(94, 210, 210, 0.2);
}
#story{
    width: 340px;
    margin-left: 30px;
    line-height: 22px;
    letter-spacing: 0.14em;
    word-spacing: 7px;
    
}
#skill{
    letter-spacing: 0.12em;
    line-height: 25px;
}