body {
    background: linear-gradient(180deg, #242424 40.1%, #1B5849 100%);
    background-attachment: fixed;
    height: 100%;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Audrey";
}

.nav {
    margin-top: -30px;
    font-family: "Audrey";
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}

.nav>a {
    color: white;
}

.nav>a:hover{
    color: yellow;
}

.taskone{
    margin-left: 100px;
}

.taskone>img{
    width: 700px;
    height: 300px;
}

.taskone>p{
    width:692px ;
    height: 50px;
    
    font-size: 18px;
}

.taskone>p>a:hover{
    color: yellow;
}

