body{
    background: linear-gradient(270deg, #D4C3C3 47.26%, #D4C3C3 48.23%, #00F9BD 48.23%);
}
h1{
    width: 475px;
    height: 94px;
    margin-left: 28px;
    margin-top: 58px;
    font-family: "Audrey";
    font-size: 40px;
    text-align: center;
}
#twitter>i{
    margin-left: 43px;
}
#twit{
    width: 336px;
    height: 39px;
    margin-left: 100px;
    margin-top: -40px;
    font-family: "Audrey";
    font-size: 34px;
}
#linkedin>i{
    margin-left: 43px;
}
#lin{
    width: 320px;
    height: 44px;
    margin-left: 109px;
    margin-top: -40px;
    font-family: "Audrey";
    font-size: 34px;
}
#facebook>i{
    margin-left: 43px;
}
#fb{
    width: 262px;
    height: 46px;
    margin-left: 109px;
    margin-top: -40px;
    font-family: "Audrey";
    font-size: 34px;
}
#git>i{
    margin-left: 43px;
}
#gt{
    width: 148px;
    height: 38px;
    margin-left: 109px;
    margin-top: -40px;
    font-family: "Audrey";
    font-size: 34px;
}