body{
    background: linear-gradient(270deg, #D4C3C3 47.26%, #D4C3C3 48.23%, #00F9BD 48.23%);
}
h1{
    width: 475px;
    height: 94px;
    margin-left: 28px;
    margin-top: 58px;
    font-family: "Audrey";
    font-size: 40px;
    text-align: center;
}