{% include 'base.html' %}
{% load static %}


{% block content %}
  
    <div class="container">
        <h1 class="intro-name">Hello, <br> <span class="mx-3">I'm <span class="first-name">Abzed</span> Mohammed</span> <br>
             <span class="end1"> a</span> <span class="middle1">Software </span> 
            <span class="middle2"><i class="fas fa-code"></i></span><span class="end2 mx-2"> Engineer</span>
        </h1>

        <div class="mt-3" id=container>
            I like... 
            <div id=flip>
                <div><div>Streaming Animes, Movies & TV shows</div></div>
                <div><div>Winning in Chess & Monopoly</div></div>              
              <div><div>Coding some stuffs</div></div>
              <div><div>Writing Articles</div></div>
              
            </div>
            and of course... Making you Happy!
          </div>
    </div>

{% endblock content %}
    





















    <!-- <div id="twitter">
        <i class="fa fa-twitter" style="font-size: 50px;color: blue;"></i>
        <p id="twit"><a href="https://twitter.com/AbzedMohammed" target="_blank">@AbzedMohammed</a> </p>
    </div>

    <div id="linkedin">
        <i class="fa fa-linkedin-square" style="font-size: 50px;color: blue;"></i>
        <p id="lin"><a href="https://www.linkedin.com/in/abzed-mohammed-630bb181/" target="_blank">AbzedMohammed</a></p>
    </div>

     <div id="facebook">
    <i class="fa fa-facebook-official" style="font-size: 50px;color: blue;"></i>
    <p id="fb"><a href="https://facebook.com/abzed.tetz" target="_blank">Abzed Tetz</a></p>
    </div>

    <div id="git">
        <i class="fa fa-github" style="font-size: 50px;color: black;"></i>
        <p id="gt"><a href="https://github.com/Abzed" target="_blank">Abzed</a></p>
    </div>
    
    <div class="ellipse"></div>

    <div class="nav">
            <a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a>
            <a href="about.html"><i class="fa fa-fw fa-user"></i>About Me</a>
            <a href="project.html"><i class="fa fa-fw fa-folder"></i>Projects</a>

            <i id="adrs" class="fa fa-fw fa-address-book"></i><label id="conts" for="contact"><u>Contacts</u></label></a>
            
            <select name="contact" id="contacts">
                <option value="email">ibraabzed@gmail.com</option>
                <option value="email">ibraabzed@yahoo.com</option>
                <option value="telephone">+254759507042</option>
            </select>  
    </div>
<p id="rights">Copyright (c) 2020 Abzed Abdul Mohammed</p> -->

