{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}

    <div class="mb-5">

    <!-- Pills navs -->
    <ul class="nav nav-pills nav-fill mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
        <a
            class="nav-link active"
            id="all"
            data-mdb-toggle="pill"
            href="#all-languages"
            role="tab"
            aria-controls="all"
            aria-selected="true"
            >All</a
        >
        </li>

        <li class="nav-item" role="presentation">
        <a
            class="nav-link"
            id="vanilla-js"
            data-mdb-toggle="pill"
            href="#vanilla"
            role="tab"
            aria-controls="vanilla-js"
            aria-selected="false"
            >Javascript</a
        >
        </li>

        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="django"
                data-mdb-toggle="pill"
                href="#py-django"
                role="tab"
                aria-controls="django"
                aria-selected="false"
                >Django</a
            >
        </li>

        <li class="nav-item" role="presentation">
        <a
            class="nav-link"
            id="flask"
            data-mdb-toggle="pill"
            href="#py-flask"
            role="tab"
            aria-controls="flask"
            aria-selected="false"
            >Flask</a
        >
        </li>

        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="react"
                data-mdb-toggle="pill"
                href="#reactjs"
                role="tab"
                aria-controls="react"
                aria-selected="false"
                >React</a
            >
        </li>

        <li class="nav-item" role="presentation">
            <a
                class="nav-link"
                id="rails"
                data-mdb-toggle="pill"
                href="#angularjs"
                role="tab"
                aria-controls="angular"
                aria-selected="false"
                >Angular</a
            >
        </li>

    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div class="tab-content" id="ex2-content">

        <div
        class="tab-pane fade show active"
        id="all-languages"
        role="tabpanel"
        aria-labelledby="all"
        >

        {% for project in projects %}
            <a href="{% url 'single_project' project.title %}">
                <div class="card mt-3">
                    <div class="img-box">
                    <img src="{{project.picture.url}}" alt="">
                    </div>
                    <div class="content">
                    <h3>{{project.title}}</h3>
                    <p>{{project.description}}</p>
                    <div class="card-action">
                        <div class="name-container">
                        <img src="{% static 'image/film.jpg' %}" class="avatar" alt="">
                        <div class="name-box">
                            <span>Abzed Mohammed</span>
                            <!-- <small>Jun 16, 2022</small> -->
                        </div>
                        </div>

                            {% for tag in project.language.all %}
                            <ul>
                                <li class="tags btn-info mt-1">{{tag.name}}</li>
                            </ul>
                            {% endfor %}
                        
                    </div>
                    </div>
                </div>
            </a>
      
    {% endfor %}

        </div>

        <div
        class="tab-pane fade"
        id="vanilla"
        role="tabpanel"
        aria-labelledby="vanilla-js"
        >
        {% for project in projects %}
        {% for tag in project.language.all %}
           
            
            {% if 'Javascript' in tag.name or 'javascript' in tag.name %}
                <a href="{% url 'single_project' project.title %}">
                    <div class="card mt-3">
                        <div class="img-box">
                        <img src="{{project.picture.url}}" alt="">
                        </div>
                        <div class="content">
                        <h3>{{project.title}}</h3>
                        <p>{{project.description}}</p>
                        <div class="card-action">
                            <div class="name-container">
                            <img src="{% static 'image/film.jpg' %}" class="avatar" alt="">
                            <div class="name-box">
                                <span>Abzed Mohammed</span>
                            </div>
                            </div>

                            {% for tag in project.language.all %}
                            <ul>
                                <li class="tags btn-info mt-1">{{tag.name}}</li>
                            </ul>
                            {% endfor %}
                            
                        </div>
                        </div>
                    </div>
                </a>
            {% endif %}
                
      
        {% endfor %}
        {% endfor %}
        </div>
        
        <div
        class="tab-pane fade"
        id="py-django"
        role="tabpanel"
        aria-labelledby="django"
        >

        {% for project in projects %}
        {% for tag in project.language.all %}
           
            
            {% if 'django' in tag.name or 'Django' in tag.name %}
                <a href="{% url 'single_project' project.title %}">
                    <div class="card mt-3">
                        <div class="img-box">
                        <img src="{{project.picture.url}}" alt="">
                        </div>
                        <div class="content">
                        <h3>{{project.title}}</h3>
                        <p>{{project.description}}</p>
                        <div class="card-action">
                            <div class="name-container">
                            <img src="{% static 'image/film.jpg' %}" class="avatar" alt="">
                            <div class="name-box">
                                <span>Abzed Mohammed</span>
                                <!-- <small>Jun 16, 2022</small> -->
                            </div>
                            </div>

                            {% for tag in project.language.all %}
                            <ul>
                                <li class="tags btn-info mt-1">{{tag.name}}</li>
                            </ul>
                            {% endfor %}
                            
                        </div>
                        </div>
                    </div>
                </a>
            {% endif %}
                
      
        {% endfor %}
        {% endfor %}

        </div>

        <div
        class="tab-pane fade show"
        id="py-flask"
        role="tabpanel"
        aria-labelledby="flask"
        >

        {% for project in projects %}
        {% for tag in project.language.all %}

        
        {% if 'flask' in tag.name or 'Flask' in tag.name %}
            <a href="{% url 'single_project' project.title %}">
                <div class="card mt-3">
                    <div class="img-box">
                    <img src="{{project.picture.url}}" alt="">
                    </div>
                    <div class="content">
                    <h3>{{project.title}}</h3>
                    <p>{{project.description}}</p>
                    <div class="card-action">
                        <div class="name-container">
                        <img src="{% static 'image/film.jpg' %}" class="avatar" alt="">
                        <div class="name-box">
                            <span>Abzed Mohammed</span>
                            <!-- <small>Jun 16, 2022</small> -->
                        </div>
                        </div>

                        {% for tag in project.language.all %}
                            <ul>
                                <li class="tags btn-info mt-1">{{tag.name}}</li>
                            </ul>
                        {% endfor %}

                    </div>
                    </div>
                </div>
            </a>
            
        {% endif %}
            
          
        {% endfor %}
          
        {% endfor %}
        </div>

        <div
        class="tab-pane fade show"
        id="reactjs"
        role="tabpanel"
        aria-labelledby="react"
        >
        
        {% for project in projects %}
        {% for tag in project.language.all %}
           
            
            {% if 'react' in tag.name or 'React' in tag.name %}
                <a href="{% url 'single_project' project.title %}">
                    <div class="card mt-3">
                        <div class="img-box">
                        <img src="{{project.picture.url}}" alt="">
                        </div>
                        <div class="content">
                        <h3>{{project.title}}</h3>
                        <p>{{project.description}}</p>
                        <div class="card-action">
                            <div class="name-container">
                            <img src="{% static 'image/film.jpg' %}" class="avatar" alt="">
                            <div class="name-box">
                                <span>Abzed Mohammed</span>
                                <!-- <small>Jun 16, 2022</small> -->
                            </div>
                            </div>

                            {% for tag in project.language.all %}
                            <ul>
                                <li class="tags btn-info mt-1">{{tag.name}}</li>
                            </ul>
                            {% endfor %}
                            
                        </div>
                        </div>
                    </div>
                </a>
            {% endif %}
                
      
        {% endfor %}
        {% endfor %}

        </div>

        <div
        class="tab-pane fade show"
        id="angularjs"
        role="tabpanel"
        aria-labelledby="angular"
        >
        
        {% for project in projects %}
        {% for tag in project.language.all %}
           
            
            {% if 'Angular' in tag.name or 'angular' in tag.name %}
                <a href="{% url 'single_project' project.title %}">
                    <div class="card mt-3">
                        <div class="img-box">
                        <img src="{{project.picture.url}}" alt="">
                        </div>
                        <div class="content">
                        <h3>{{project.title}}</h3>
                        <p>{{project.description}}</p>
                        <div class="card-action">
                            <div class="name-container">
                            <img src="{% static 'image/film.jpg' %}" class="avatar" alt="">
                            <div class="name-box">
                                <span>Abzed Mohammed</span>
                                <!-- <small>Jun 16, 2022</small> -->
                            </div>
                            </div>

                            {% for tag in project.language.all %}
                            <ul>
                                <li class="tags btn-info mt-1">{{tag.name}}</li>
                            </ul>
                            {% endfor %}
                            
                        </div>
                        </div>
                    </div>
                </a>
            {% endif %}
                
      
        {% endfor %}
        {% endfor %}

        </div>
    </div>

</div>

{% endblock content %}