{% load static %}

{% block sidenavbar %}
<div class="main-app">
    <div class="sidebar">
      <nav class="main-nav">
        <ul class="main-menu">
          <li class="menu-item active">
            <a href="/" class="menu-a">
              <div class="menu-txt-hld">
                <i class="fas fa-home menu-icon"></i>
                <span class="menu-txt">Home</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'social' %}" class="menu-a">
              <div class="menu-txt-hld">
                <i class="fas fa-users menu-icon"></i>
                <span class="menu-txt">Social Profile</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'profile' %}" class="menu-a">
              <div class="menu-txt-hld">
                <img
                    src="{% static 'image/film.jpg' %}"
                    class="rounded-circle menu-icon"
                    height="35" 
                    width="35"
                    alt="avatar"
                    loading="lazy"
                />
                <span class="menu-txt">About Me</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-a">
              <div class="menu-txt-hld">
                <i class="fas fa-briefcase menu-icon"></i>
                <span class="menu-txt">Projects</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-a">
              <div class="menu-txt-hld">
                <i class="fas fa-pencil-alt menu-icon"></i>
                <span class="menu-txt">Articles & Blogs</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-a">
              <div class="menu-txt-hld">
                <i class="fab fa-fly menu-icon"></i>
                <span class="menu-txt">Current Activities</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock sidenavbar %}