{% load static %}

{% block sidenavbar %}
<div class="main-app">
    <div class="sidebar">
      <nav class="main-nav">
        <ul class="main-menu">
          <li class="menu-item active">
            <a href="#" class="menu-a" target="_blank">
              <div class="menu-txt-hld">
                <i class="fas fa-igloo menu-icon"></i>
                <span class="menu-txt">Home</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-a" target="_blank">
              <div class="menu-txt-hld">
                <i class="fas fa-bell menu-icon"></i>
                <span class="menu-txt">My Profile</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-a" target="_blank">
              <div class="menu-txt-hld">
                <i class="fas fa-envelope menu-icon"></i>
                <span class="menu-txt">About Me</span>
              </div>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-a" target="_blank">
              <div class="menu-txt-hld">
                <i class="fas fa-user-circle menu-icon"></i>
                <span class="menu-txt">Projects</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock sidenavbar %}