{% load static %}

{% block social %}

    <div class="container social-container">
        <button class="btn">
            <a target="_blank" href="https://facebook.com/abzed.tetz"><i class="fa fa-facebook" style="font-size:35px;"></i></a>
        </button>

        <button class="btn">
            <a title="Coming Soon..." href=""><i class="fa fa-instagram" style="font-size:35px;"></i></a>
        </button>

        <button class="btn">
            <a target="_blank" href="https://twitter.com/AbzedMohammed"> <i class="fa fa-twitter" style="font-size:35px;"></i></a>           
        </button>

        <button class="btn">
            <a target="_blank" href="https://www.linkedin.com/in/abzed-mohammed-630bb181/"><i class="fab fa-linkedin-in" style="font-size:35px;"></i></a>            
        </button>

        <button class="btn">
            <a target="_blank" href="https://github.com/Abzed"> <i class="fab fa-github" style="font-size:35px;"></i></a>
        </button>

        <button class="btn">
            <a target="_blank" href="https://dev.to/abzed"> <i class="fab fa-dev" style="font-size:35px;"></i></a>
        </button>

        <button class="btn">
            <a target="_blank" href="https://wa.me/254759507042?text=Hello"><i class="fab fa-whatsapp" style="font-size:35px;"></i></a>
        </button>

        <button class="btn">
            <a target="_blank" href="https://t.me/+254759507042"> <i class="fab fa-telegram" style="font-size:35px;"></i></a>
        </button> 
    </div>

{% endblock social %}







    <!-- <div id="twitter">
        <i class="fa fa-twitter" style="font-size: 50px;color: blue;"></i>
        <p id="twit"><a target="_blank" href="https://twitter.com/AbzedMohammed" target="_blank">@AbzedMohammed</a> </p>
    </div>

    <div id="linkedin">
        <i class="fa fa-linkedin-square" style="font-size: 50px;color: blue;"></i>
        <p id="lin"><a target="_blank" href="https://www.linkedin.com/in/abzed-mohammed-630bb181/" target="_blank">AbzedMohammed</a></p>
    </div>

     <div id="facebook">
    <i class="fa fa-facebook-official" style="font-size: 50px;color: blue;"></i>
    <p id="fb"><a target="_blank" href="https://facebook.com/abzed.tetz" target="_blank">Abzed Tetz</a></p>
    </div>

    <div id="git">
        <i class="fa fa-github" style="font-size: 50px;color: black;"></i>
        <p id="gt"><a target="_blank" href="https://github.com/Abzed" target="_blank">Abzed</a></p>
    </div>
    
    <div class="ellipse"></div>

    <div class="nav">
            <a target="_blank" href="index.html"><i class="fa fa-fw fa-home"></i>Home</a>
            <a target="_blank" href="about.html"><i class="fa fa-fw fa-user"></i>About Me</a>
            <a target="_blank" href="project.html"><i class="fa fa-fw fa-folder"></i>Projects</a>

            <i id="adrs" class="fa fa-fw fa-address-book"></i><label id="conts" for="contact"><u>Contacts</u></label></a>
            
            <select name="contact" id="contacts">
                <option value="email">ibraabzed@gmail.com</option>
                <option value="email">ibraabzed@yahoo.com</option>
                <option value="telephone">+254759507042</option>
            </select>  
    </div>
<p id="rights">Copyright (c) 2020 Abzed Abdul Mohammed</p> -->

