body{
    background-image: url('../image/film.jpg') !important;
    /* background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    background-color: rgb(238, 207, 212);
    background-blend-mode: multiply; */
}

*{
    background-color: black;
}