body {
    background-image: url('../image/film.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    background-color: rgba(239, 233, 234, 0.484);
    background-blend-mode: multiply;
    min-height:100%;
    background-attachment: fixed;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}