@import url('https://fonts.googleapis.com/css?family=Manjari:100,400,700&display=swap');

body {
    background-image: url('../image/film.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    background-color: #f9f9f9;
    background-blend-mode: multiply;
    /* margin: 0;
    padding: 0;
    background: #f9f9f9;
    font-family: 'Manjari', sans-serif, 'Audrey';
    background-image: url('../image/film.jpg');
    overflow-x: hidden; */
}

/* Side Navbar */

.sidebar {
    width: 85px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.06);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-menu {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    list-style: none;
    position: relative;
    width: 85px;
    height: 65px;
}

.menu-txt {
    opacity: 0;
    width: 0px;
    min-width: 0px;
    overflow: hidden;
    transition: 300ms linear;
    transition-delay: 250ms;
    display: flex;
    align-items: center;
    position: relative;
    top: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.menu-a {
    padding: 35px 33.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-icon {
    display: block;
    font-size: 1.5rem;
    color: #bdbdbd;
    position: relative;
    z-index: 100;
    transition: 400ms;
}

.menu-item:hover .menu-txt {
    opacity: 1;
    width: 100%;
    min-width: 40px;
    padding: 0px 20px;
    transition-delay: 0s;
    color: #4c4c4c;
}

.menu-txt-hld {
    position: absolute;
    z-index: 99;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 38px;
    font-size: .94rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
    padding: 9.5px 8px;
    transition: 250ms linear;
    display: flex;
    align-items: center;
    left: 20px;
    transition-delay: 300ms;
}

.menu-item:hover .menu-txt-hld {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07);
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition-delay: 0ms;
}
.active .menu-icon {
    color: #03A9F4;
}


/* Loading Message CSS */

.end1{
    margin-left: 9%;
}

.end1, .middle1, .middle2{
    display: inline-block;
    overflow:hidden;
    height: 1.5em;
    font-size: 40px;
}
.end2{
    position:absolute;
    color:#ff6a00;
    font-size: 40px;
}
.middle1, .middle2{
    color: #cfcfcf
}
.middle1 {
    animation: ani1 5s infinite;
    animation-delay: -3s;
    max-width: 0;
}
.middle2 {
    animation: ani2 5s infinite;
    animation-delay: -3s;
    max-width: 0;
}

@keyframes ani1 {
    0% {
    max-width: 500px;
  }
  
  25% {
    max-width: 0;
  }
  
  75% {
    max-width: 0;
  }
  
  90% {
    max-width: 500px;
  }
  
  100% {
    max-width: 500px;
  }
}

@keyframes ani2 {
    0% {
        max-width: 0;
    }

    25% {
        max-width: 0;
    }

    50% {
        max-width: 500px;
    }

    75% {
        max-width: 0;
    }

    100% {
        max-width: 0;
    }
}

/* Index.html Styles */

.intro-name{
    font-size: 48px;
    font-weight: bold;
    margin-top: 5%;
}

.first-name{
    color: #ff6a00;
}

/* Background Image Slideshow */
/* 
.slideshow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
    animation-name: kenburns;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .slideshow-image:nth-child(1) {
    -webkit-animation-name: kenburns-1;
    animation-name: kenburns-1;
    z-index: 3;
  }
  .slideshow-image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
    animation-name: kenburns-2;
    z-index: 2;
  }
  .slideshow-image:nth-child(3) {
    -webkit-animation-name: kenburns-3;
    animation-name: kenburns-3;
    z-index: 1;
  }
  .slideshow-image:nth-child(4) {
    -webkit-animation-name: kenburns-4;
    animation-name: kenburns-4;
    z-index: 0;
  }
  
  @-webkit-keyframes 
  kenburns-1 {  0% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   1.5625% {
   opacity: 1;
  }
   23.4375% {
   opacity: 1;
  }
   26.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   98.4375% {
   opacity: 0;
   -webkit-transform: scale(1.21176);
   transform: scale(1.21176);
  }
   100% {
   opacity: 1;
  }
  }
  @keyframes 
  kenburns-1 {  0% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   1.5625% {
   opacity: 1;
  }
   23.4375% {
   opacity: 1;
  }
   26.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   98.4375% {
   opacity: 0;
   -webkit-transform: scale(1.21176);
   transform: scale(1.21176);
  }
   100% {
   opacity: 1;
  }
  }
  @-webkit-keyframes 
  kenburns-2 {  23.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   26.5625% {
   opacity: 1;
  }
   48.4375% {
   opacity: 1;
  }
   51.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @keyframes 
  kenburns-2 {  23.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   26.5625% {
   opacity: 1;
  }
   48.4375% {
   opacity: 1;
  }
   51.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @-webkit-keyframes 
  kenburns-3 {  48.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   51.5625% {
   opacity: 1;
  }
   73.4375% {
   opacity: 1;
  }
   76.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @keyframes 
  kenburns-3 {  48.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   51.5625% {
   opacity: 1;
  }
   73.4375% {
   opacity: 1;
  }
   76.5625% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  }
  @-webkit-keyframes 
  kenburns-4 {  73.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   76.5625% {
   opacity: 1;
  }
   98.4375% {
   opacity: 1;
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
  }
  @keyframes 
  kenburns-4 {  73.4375% {
   opacity: 1;
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
   76.5625% {
   opacity: 1;
  }
   98.4375% {
   opacity: 1;
  }
   100% {
   opacity: 0;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
  } */




















